
body.popup #tl_buttons {display: none;}

/* Ajax box */
#tl_ajaxBox {
	width:20%;
	padding:2em;
	position:absolute;
	left:40%;
	background:#fff url("../../../../../themes/flexible/icons/loading.svg") no-repeat right 2em center;
	border:2px solid #111;
	border-radius:2px;
	font-size:1rem;
	text-align:left;
}
#tl_ajaxOverlay {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:#fff;
	opacity: 0.5;
}