
ul.sgallery {
	overflow:hidden;
}
ul.sgallery li {
	float:left;
	margin-right:0;
}
.gimage {
	margin:2px;
	border:1px solid #808080;
}

.tl_checkbox_wizard .sortable span {
	display:block;
	margin:-1px 0 0;
}

ul.sortable li {
	cursor:move;
}
ul.sortable li .dirname {
	display:none;
}
ul.sortable li:hover .dirname {
	display:inline;
}

/* Buttons */
.tl_buttons
{
	list-style: none;
	padding: 0;
}
.tl_buttons li
{
	display: inline-block;
}

fieldset,form,input,optgroup,select,textarea {
	font-family:inherit;
}

.cc_frontedit_form fieldset, .cc_frontedit_form form, .cc_frontedit_form input, .cc_frontedit_form optgroup, .cc_frontedit_form select, .cc_frontedit_form textarea {font-family:"Trebuchet MS",Verdana,sans-serif;}

/* Ajax box */
#tl_ajaxBox {
	width:20%;
	padding:24px;
	position:absolute;
	left:40%;
	background:#fff url("images/loading.gif") no-repeat right center;
	border:2px solid #666;
	border-radius:6px;
	font-family:"Trebuchet MS",Verdana,sans-serif;
	font-size:15px;
	font-size:.9375rem;
	text-align:left;
}
#tl_ajaxOverlay {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:#fff;
	-moz-opacity:0.5;
	opacity: 0.5;
}

#tl_ajaxBox {background-image: url('../img/loading.gif')}

.datepicker_bootstrap {z-index: 9999;}