
ul.sgallery {
	overflow:hidden;
}
ul.sgallery li {
	float:left;
	margin-right:0;
}
.gimage {
	margin:2px;
	border:1px solid #808080;
}

.tl_checkbox_wizard .sortable span {
	display:block;
	margin:-1px 0 0;
}

ul.sortable li {
	cursor:move;
}
ul.sortable li .dirname {
	display:none;
}
ul.sortable li:hover .dirname {
	display:inline;
}

/* Buttons */
.tl_buttons
{
	list-style: none;
	padding: 0;
}
.tl_buttons li
{
	display: inline-block;
}

fieldset,form,input,optgroup,select,textarea {
	font-family:inherit;
}

.cc_frontedit_form fieldset, .cc_frontedit_form form, .cc_frontedit_form input, .cc_frontedit_form optgroup, .cc_frontedit_form select, .cc_frontedit_form textarea {font-family:"Trebuchet MS",Verdana,sans-serif;}

#tl_ajaxBox {background-image: url('../img/loading.gif')}